<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="wap-font-scale" content="no" />
    <meta http-equiv="X-UA-Compatible" content="IE=9, IE=8;IE=7, IE=EDGE, chrome=1" />
    <title>关于  –  小洋葱</title>

    <link rel="stylesheet" id="nicetheme-css" href="https://ddbb-blog.oss-cn-shanghai.aliyuncs.com/static/nicetheme-1.1.css" type="text/css" media="all" />
    <link rel="stylesheet" id="reset-css" href="https://ddbb-blog.oss-cn-shanghai.aliyuncs.com/static/reset-1.1.css" type="text/css" media="all" />
    <link rel="stylesheet" id="style-css" href="https://ddbb-blog.oss-cn-shanghai.aliyuncs.com/static/style-1.1.css" type="text/css" media="all" />
    <script src="https://ddbb-blog.oss-cn-shanghai.aliyuncs.com/static/hm.js"></script>
  <script type="text/javascript" src="https://ddbb-blog.oss-cn-shanghai.aliyuncs.com/static/prettify.js"></script> 
 
  <script type="text/javascript" src="https://ddbb-blog.oss-cn-shanghai.aliyuncs.com/static/jquery-1.12.4.js">
  </script> 
  <script type="text/javascript" src="https://ddbb-blog.oss-cn-shanghai.aliyuncs.com/static/jquery-migrate.min-1.4.1.js"></script>

  <script type="text/javascript">/* <![CDATA[ */
  var globals = {"image_popup":"null","new_comment_position":"asc","single":"0","post_style":"0","home":"1","page":"0"};
  /* ]]> */
  </script>

</head>
<body class="page-template-default page page-id-6">
<!-- header -->
<!--sidebar-->
<section th:replace="head::sidebar" class="mobile-overlay" id="mobile-overlay"></section>
<!--//满屏导航-->
<header th:replace="head::header"></header>
<section class="nt-warp">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <main class="l-main">
                    <div class="m-post">
                        <div class="post-title">
                            <h1>关于作者</h1>
                        </div>
                        <article class="post-content">
                            <div class="gruber-markdown">
                                <p>  &emsp;&emsp;本科非计算机专业，从一名技术小白，到现在的什么都懂一点，付出的是时间，精力。
                                    从最早接触的PS到前端再到后端（nodeJs java）到后来的人工智能。在好奇心的驱动下，越走越远。曾经在武汉某一小公司实习，最大的特点就是：在小公司
                                    你永远不会只干一件事，一个项目的开发的各个过程，
                                    你都得懂，无形之中，学了许多东西。本可以找一份还可以的工作，
                                    先从小码农干起，立个小目标，若干年后，成为某一项技术领域的牛人，或者走产品经理路线。不知道出于什么原因，又回到了学校，
                                    或许是学校给了我自由，大把的时间，学自己感兴趣的东西。
                                </p>
                                <h1>关于本站</h1>
                                <p>&emsp;&emsp;不安于现状，不甘于平庸。这一路走来，感谢所有乐于助人的码农，也感谢那些爱分享的博主。爱分享是程序员的天性，本博客用来写自己所学的技术或者如何解决一些技术上的
                                    bug；既是对自己学习的一种总结，或许也能帮到他人。 </p>


                            </div>
                        </article>
                    </div>
                </main>
            </div>
            <div id="media_image-2" class="widget widget_media_image">
                <h3 class="widget-title" style="padding-left: 20px">关注小洋葱微信</h3>
                <img width="200" height="200" src="https://zxx-blog.oss-cn-shanghai.aliyuncs.com/images/1523677503034weix.jpg?Expires=1839037497&OSSAccessKeyId=LTAIw9QfPaWovM1p&Signature=ojPJKlKfrqNRuCQMeGpwzsEy7LE%3D" class="image wp-image-871 attachment-200x200 size-200x200 lazyloading" alt="小洋葱" style="max-width: 100%;margin-left: 20px; height: auto;" sizes="(max-width: 200px) 100vw, 200px" />
            </div>
            </aside>
        </div>
    </div>
    </div>
</section>
<footer id="footer-main" class="footer-main footer-2 ">
    <div class="container">
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 footer-copyright">
                    <p></p>
                    <p>Copyright &copy; 2011-2018 小白菜. 备案： <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">浙ICP备15006212号-1</a></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--<div class="scroll-to-top floating-button hidden-sm hidden-xs">-->
    <!--<a href="https://www.mf8.biz/about/#"><i class="fa fa-angle-up"></i></a>-->
<!--</div>-->
   <script type="text/javascript" src="https://ddbb-blog.oss-cn-shanghai.aliyuncs.com/static/nicetheme-1.1.js"></script> 

</body>
</html>